<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat Bot</title>
    <script src="/static/jquery-3.3.1.min.js.css"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        #chat-list {
            margin-bottom: 50%;
        }
        .navbar-brand {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin:0 auto;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="#">Chat Bot</a>
    </nav>

    <div class="container" id="app">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="list-group" id="chat-list">
                    <div class="list-group-item" v-for="msg in messages"
                    :style="msg.speaker == 'user' ? userItemStyle : agentItemStyle">
                        <h4 class="list-group-item-heading">
                            <span v-if="msg.speaker == 'user'">{{ msg.text }}</span>
                            <span class="glyphicon" 
                            :class="msg.speaker == 'user' ? userIcon : agentIcon" 
                            aria-hidden="true" 
                            :style="msg.speaker == 'user' ? userIconStyle : agentIconStyle"></span>
                            <span v-if="msg.speaker == 'agent'">{{ msg.text }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom" id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group input-group-lg ">
                        <input id="input" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button id="send" class="btn btn-success" type="button" @click="click">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                messages: [],
                userIcon: 'glyphicon-user',
                agentIcon: 'glyphicon-cloud',
                userIconStyle: {
                    'margin-left': '10px',
                    'margin-right': '0px'
                },
                agentIconStyle: {
                    'margin-left': '0px',
                    'margin-right': '10px'
                },
                userItemStyle: {
                    'text-align': 'right'
                },
                agentItemStyle: {
                    'text-align': 'left'
                }
            },
            methods: {
                click: function() {
                    var query = $('#input').val()
                    if (query == '') return
                    this.messages.push({
                        speaker: 'user',
                        text: query
                    })
                    this.sendAjax({text: query})
                },
                sendAjax: function(message) {
                    $.ajax({
                        url: "/chat",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(message),
                        dataType: "json",
                        success: function (data) {
                            $("#input").val("")
                            app.messages.push({
                                speaker: 'agent',
                                text: data["text"]
                            })
                        },
                        failure: function (error) {
                            alert(error);
                        }
                    })
                }
            }
        })
        $("#input").keypress(function (key) {
            if (key.which == 13) app.click()
        })
        app.sendAjax({text: '[begin]'})
    </script>
</body>

</html>